<section class="form">
    <div class="container">
        <div class="row">
        <div class="title">Creat new color</div>
        <form action="#">
            <div>
            <p id="test">color</p>
        <input id="input-color" class="form__input" type = "text" placeholder="blue">
    </div>
        <div>
        <p>type</p>
        <select id="select" class="form-select" >
            <option  value="RGB">RGB</option>
            <option  value="RGBA">RGBА</option>
            <option  value="HEX">HEX</option>
          </select>
        </div>
          <div>
          <p id="test-two">code</p>
        <input id="input-code" class="form__input" type = "text" placeholder="000,000,000"> 
    </div>
        <button id="save" type="submit" class="btn">Save</button>
    </form>
        <div class="title">All color</div>
          <div id="one" class="carts">
            <div class="cart">
                <div class="cart__item">
                    <div class="cart__item_element">
                        <p>Red</p>
                        <p>RGB</p>
                        <p>123,122,43</p>
                    </div>
                </div>
            </div>    
          </div>
        </div>
    </div>
</section>